body {
    background-color: lightblue;
    color: black;
    margin: 8px;
  }
  
  h1,h2,h3,h4 {
    color: black; 
    text-align: center;
    font-size: 35px;
  }
  
br {
    text-align: justify;
}

#picture {
    border: 3px solid #ccc;
    text-align: center;
}

  p {
    font-family: lucida ;
    font-size: 20px;
  }
  
dl {
    color:  orangered;
}

.testParagraph {
    font-size: 25;
    color: darkslategrey;
}

 .funParagraph{
    color: green;
}

#mainHeading {
    color: darkred;
}
